<div class="auth-split">
  <div class="auth-left login-gradient">
    <div class="auth-left-icon">
      <span class="material-icons">directions_car</span>
    </div>
    <h2 [innerHTML]="'auth.welcomeBack' | translate"></h2>
    <p>{{ 'auth.continueJourney' | translate }}</p>
    <ul class="auth-left-features">
      <li><span class="material-icons">menu_book</span> {{ 'auth.richLessons' | translate }}</li>
      <li><span class="material-icons">smart_toy</span> {{ 'auth.aiExplains' | translate }}</li>
      <li><span class="material-icons">emoji_events</span> {{ 'auth.realExam' | translate }}</li>
      <li><span class="material-icons">insights</span> {{ 'auth.visualProgress' | translate }}</li>
    </ul>
  </div>

  <div class="auth-right">
    <div class="auth-form-wrap">
      <div class="auth-brand">
        <span class="auth-brand-icon">
          <span class="material-icons">smart_toy</span>
        </span>
        <span class="auth-brand-text">{{ 'brand' | translate }}</span>
      </div>

      <h2>{{ 'auth.signInBtn' | translate }}</h2>
      <span class="auth-toggle-link">
        {{ 'auth.noAccount' | translate }} <a routerLink="/register">{{ 'auth.registerFree' | translate }}</a>
      </span>

      <form class="auth-form-stack" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput formControlName="email" type="email" autocomplete="email" [placeholder]="'auth.emailPlaceholder' | translate" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.password' | translate }}</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hidePassword() ? 'password' : 'text'"
            autocomplete="current-password"
          />
          <button mat-icon-button matSuffix (click)="hidePassword.set(!hidePassword())" type="button" tabindex="-1">
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <button class="auth-submit-btn" type="submit" [disabled]="loading() || loginForm.invalid">
          @if (loading()) {
            <div class="custom-spinner custom-spinner-sm" style="border-top-color: #fff;"></div>
          }
          <span class="material-icons" style="font-size: 18px;">login</span>
          {{ 'auth.signInBtn' | translate }}
        </button>
      </form>

      <div class="auth-back-link">
        <a routerLink="/landing">
          <span class="material-icons" style="font-size: 16px; vertical-align: middle;">arrow_back</span>
          {{ 'auth.backToHome' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
